#modalOpen {
  background-color: #8dbd60;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

#modalOpen:hover {
  opacity: 0.8;
}

#modal {
  /*背景を暗くする*/
  display: none;  /* 最初は見えないようにする */
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.modalContent {
  background-color: #fff;
  margin: 15px auto;
  width: 50%;
  padding: 20px;
  box-shadow: 0 2px 7px rgb(75, 75, 75);
  display: flex;
  justify-content: space-between;
}

.modalClose {
  font-size: 1.5rem;
  cursor: pointer;
}
